.link-for-pdf {
  display: none;
}

.image-for-pdf {
  display: none;
}

@media print {
  .print-tag {
    /* padding: 0px !important; */
    /* margin: 0px !important; */
    color: black !important;
  }

  .print-tag p {
    box-shadow: inset 0 0 0 1px black;
    color: black !important;
    /* background-color: black; */
    /* padding: 0px !important; */
    /* margin: 0px !important; */
    /* padding-right: 8px !important; */
    /* font-weight: 700; */
    /* font-style: italic; */
  }

  .print-hide {
    display: none;
  }
  .image-for-pdf {
    display: initial;
  }

  .link-for-pdf {
    display: initial;
  }

  .theme-toggle-text {
    display: none;
  }

  .hero-image {
    display: none !important;
  }

  .column-wrapper {
    max-height: none !important;
    display: block !important;
  }

  .main-column {
    width: 100% !important;
  }
  .skills-column {
    width: 100% !important;
  }
  .experience-column {
    width: 100% !important;
  }

  .exp-card-text p {
    color: #212121 !important;
  }
}

@page {
  margin: 0.5cm;
}
